.search{
    display: flex;
    line-height: 30px;
    justify-items: center;
    align-items: center;
    padding: 5px;
    margin-left: 15px;
    background-color: rgba(255,255,255,0.15);
}

.search:focus{
    background-color: rgba(255,255,255,0.15);
}

input{
    background-color: rgba(255,255,255,0);
    padding: 5px;
    border: none;
    font-size: medium;
    width: 200px;
    color: white;
}

input:focus{
    width: 250px;
    background-color: rgba(255,255,255,0);
    outline: none;
}

/*
input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    background: white;
}
*/

@media all and (max-width: 600px){
    input{
        width: 100%;
    }
    .search{
        width: 250px;
        padding: 15px;
        margin-bottom: 10px;
    }
}

